<div class="sectionHeader">
    <header class="header">
        <div class="header__block">
        <nav class="menuMain">
            <ul class="menuMain__items">
                <li class="menuMain__item"> <a href="">ACTIVITIES</a> </li>
                <li class="menuMain__item"> <a href="">TOPS</a> </li>
                <li class="menuMain__item"> <a href="">BOTTOMS</a> </li>
                <li class="menuMain__item"> <a href="">ACCESSORIES</a> </li>
                <li class="menuMain__item"> <a href="">CULTURE</a> </li>
            </ul>
        </nav>
        <div class="header__logo">
            <a href="">AG</a>
        </div>
        </div>
        <div class="cart header__cart">
            <a class="cart__link" href="">
            <div class="cart__name">CART</div>
            <div class="cart__value">0</div>
            </a>
        </div>


    </header>
</div>