@font-face
  font-family: 'FuturaPT'
  src: url('../fonts/FuturaPT/FuturaPT-Medium.woff') format('woff')
  font-weight: 500
  font-style: normal
@font-face
  font-family: 'FuturaPT-Bold'
  src: url('../fonts/FuturaPT/FuturaPT-Bold.woff') format('woff')
  font-weight: 700
  font-style: normal
@font-face
  font-family: 'FuturaPT-Demi'
  src: url('../fonts/FuturaPT/FuturaPT-Demi.woff') format('woff')
  font-weight: 600
  font-style: normal
@font-face
  font-family: 'SofiaPro'
  src: url('../fonts/SofiaPro/SofiaProLight.woff') format('woff')
  font-weight: 300
  font-style: normal

 
//цвета
$black-two: #0b0b0b
$black: #000000

*
  box-sizing: border-box

html
  padding: 0
  margin: 0
  font-size: 10px
  line-height: 1.375
  letter-spacing: normal

body
  margin: 0
  max-width: 1680px
  width: 100%

a, a:visited
  text-decoration: none
  color: #000000

p
  margin: 0 0
  padding: 0
  text-align: justify

ul
  margin: 0.8em 0
  overflow: hidden
  padding: 0

ul li
  list-style-type: none
  position: relative
  padding: 0 0 0 1em
  overflow: hidden

h1, h2
  margin: 0
  padding: 0

.sectionHeader
  width: 100%
  margin: 47px 0


.header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin: 0 100px


.header__block
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center


.menuMain__items
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  width: 672.8px
  height: 25px
  font-family: FuturaPT
  font-size: 1.1rem
  font-weight: 500
  font-style: normal
  font-stretch: normal
  line-height: 2.5
  letter-spacing: 4px
  color: $black-two
  text-transform: uppercase
.menuMain__items li
  border-bottom: 1.5px solid transparent

.menuMain__items li:hover
  border-bottom: 1.5px solid black
//transition: all 200ms linear
//transform: scale(1.1)

.header__logo
  width: 37.5px
  height: 20.6px
  font-family: FuturaPT-Demi
  font-size: 2.5rem
  font-weight: 600
  text-align: center
  font-style: normal
  font-stretch: normal
  color: $black
  margin-right: 47px
  line-height: 0.8
  text-transform: uppercase

.cart__link
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  align-items: center
  text-transform: uppercase

.cart__name
  width: 51px
  height: 25px
  font-family: FuturaPT
  font-size: 1.1rem
  font-weight: 500
  font-style: normal
  font-stretch: normal
  line-height: 2.5
  letter-spacing: 4px
  color: $black


.cart__value
  display: flex
  justify-content: center
  align-items: center
  font-family: FuturaPT
  font-size: 1.1rem
  font-weight: 500
  width: 32px
  height: 32px
  text-align: center
  border: solid 1px $black
  border-radius: 100%

input.cart__value
  text-align: center
  letter-spacing: normal

.order__select
  max-width: 1142px
  width: 65%
  height: 957px
  background: url(../img/design/rectangle_4.png)
  object-fit: contain
  position: relative


.order__select:before
  content: ""
  position: absolute
  top: 50px
  left: 50px
  width: 100%
  height: 864.2px
  background-color: #eea35d
  opacity: 0.3

.sectionOrder
  display: flex
  flex-flow: row nowrap
  position: relative

.slickSlider
  max-width: 620px
  width: 50%
  position: absolute
  top: calc(50% - 325px)
  left: calc( 60% - 212px)


.slick-slide img 
  display: block
  width: 423px
  height: 650px

.slider-nav .slickSlide
  width: 300px
  font-family: FuturaPT-Demi
  font-size: 10px
  line-height: 2
  letter-spacing: 4px
  text-align: right
  color: #000000
  margin-top: 70px
  border-bottom: 1.5px solid transparent
  cursor: pointer
  background: transparent
  text-transform: uppercase

.slider-nav .slickSlide.slick-center
  display: inline-block
  border-bottom: 1.5px solid black

.slickSlider .slider-nav
  height: 210px
  width: 300px
  overflow: hidden
  position: absolute
  top: calc(50% - 100px)
  right: 0

.slickSlider .slider-for
  width: 423px

.slider-nav .slick-track
  margin-top: -123px

.order__select
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.subheader
  font-family: FuturaPT
  font-size: 1.2rem
  font-weight: 500
  letter-spacing: 12px
  color: #000000
  text-transform: uppercase

h2
  font-family: FuturaPT
  font-size: 35px
  font-weight: 500
  letter-spacing: 12px
  color: #000000
  text-transform: uppercase


.description
  font-family: SofiaPro
  font-size: 14px
  font-weight: 300
  line-height: 1.79
  letter-spacing: 1px
  color: #0b0b0b
  margin-bottom: 25px

.select__filling
  max-width: 450px
  margin-right: 150px
  z-index: 1
  width: 40%

.wrapSelect
  max-width: 300px
  width: 60%
  border-bottom: 1.5px solid black
  line-height: 2.17
  letter-spacing: 4px
  color: #0b0b0b


.select_block
  width: 100%
  position: relative
  cursor: pointer
  padding: 0 13px

.select_field 
  display: flex
  flex-flow: row nowrap
  align-items: center

.select_field .select_arrow 
  flex-grow: 0
  width: 9px
  height: 9px
  border-left: solid 1px black
  border-top: solid 1px black
  transform: rotate(-135deg)

input
  line-height: 2.17
  letter-spacing: 4px
  color: #0b0b0b
  background: transparent
  border: none

.select_field input.field 
  flex-grow: 1
  cursor: pointer
  font-family: FuturaPT-Demi
  font-size: 12px
  text-transform: uppercase
  width: 90%

.select_fall_out 
  display: none
  width: 100%
  padding: 0
  position: absolute
  left: 0px
  top: 33px
  background: #f3dfcd
  z-index: 1

.select_fall_out span 
  display: block
  padding: 12px 13px 
  cursor: pointer

.select_fall_out span:hover 
  background: #eea35d

.wrapAddCart
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center
  font-family: FuturaPT-Demi
  font-size: 12px
  text-transform: uppercase

input.quantity
  text-align: center

.count_minus, .count_plus 
  width: 35px
  height: 35px
  border-radius: 50%
  cursor: pointer
  font-weight: bold

.count_minus
  border: solid 1px black
  background: transparent
.count_plus
  background: white
  border: none

.quantity 
  width: 35px

.addCard
  width: 211px
  height: 41px
  border: 1.5px solid black
  position: relative
  background: transparent
  line-height: 2.08
  letter-spacing: 4px
  text-align: center
  color: #000000
  margin-top: 30px
  padding: 11px
  cursor: pointer
  font-family: FuturaPT-Demi
  font-size: 12px
  text-transform: uppercase
  overflow: visible



.addCard::after
  content: ''
  width: 211px
  height: 41px
  border: 1.5px solid black
  position: absolute
  top: 7px
  left: 7px

.subMenu_wraper
  max-width: 1530px
  width: 90%
  font-family: FuturaPT-Demi
  font-size: 10px
  line-height: 2.5
  letter-spacing: 4px
  color: #0b0b0b
  position: absolute
  bottom: 95px
  left: 150px
.subMenu
  margin-right: 100px

.subMenu li
  float: left

.subMenu li:last-child
  float: right

.subMenu li:first-child
  margin-right: 40px

.sectionInform
  width: 100%
  margin-top: 78px
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center


.feature__info
  width: 50%
  font-family: SofiaPro
  font-size: 14px
  letter-spacing: 1px
  color: #0b0b0b
  margin: 0 120px 0 120px

.feature__info .description
  line-height: 2.5

.feature__img img
  width: 400px
  height: auto

.feature__img
  margin: 0 120px 0 120px
  width: 50%
  position: relative

.sectionInform:nth-child(2n+1) .feature__img
  margin-top: 78px
.sectionInform:nth-child(2n) .feature__img
  margin-bottom: 78px
.sectionInform:nth-child(2n+1) .feature__img::before
  content: ''
  position: absolute
  top: 50px
  left: 30px
  width: 400px
  height: 630px
  background: url(../img/design/rectangle-4.png)
  background-size: cover
  z-index: -1


.sectionInform:nth-child(2n) .feature__img::before
  content: ''
  position: absolute
  bottom: 50px
  right: 30px
  width: 400px
  height: 630px
  background: url(../img/design/rectangle-4.png)
  background-size: cover
  z-index: -1

.separator_wrap
  position: absolute
  top: 0
  left: calc(50% - 38px)
  transform: rotate(-90deg)
  transform-origin: 750px 750px

.separator
  width: 1500px
  height: 76px
  font-family: FuturaPT
  font-size: 55px
  font-weight: 500
  letter-spacing: 12px
  color: #000000
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  position: relative
  text-transform: uppercase

.sectionInform_wrap
  position: relative
  width: 100%
//
//.separator::after
//  content: ''
//  height: 860px
//  width: 400px
//  background-color: #fedfc1
//  position: absolute
//  left: 50%
//  z-index: -1

.line
  height: 2px
  width: 325px
  background: black

.sectionInform:nth-child(2n)
  flex-direction: row-reverse

.description ul li:before
  content: '—'
  position: absolute
  left: 0
  top: 0

.slider3D .slick-track
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 100px 0

.sectionSlider_wrap
  width: 100%
  padding: 80px 0
  text-align: center

.sectionSlider
  width: 80%
  margin: 40px auto


.slider3D .slick-slide img
  width: 100%
  height: auto
  margin: 100px 0

.slider3D .slick-slide.slick-current img
  width: 100%
  height: auto
  margin: 0




.slider3D .slickSlide__img
  text-align: center
  max-width: 180px
  width: 45%
  height: auto
  margin: 0 auto
  filter: grayscale(100%)
  transition: all 300ms linear
  cursor: pointer


.slider3D .slick-current .slickSlide__img
  transform: scale(2)
  filter: grayscale(0%)
  cursor: default
  position: relative
  z-index: 1


.slider3D .slick-list
  position: relative

.slider3D .slick-list:before
  content: ''
  position: absolute
  top: 0
  left: calc( 50% - 370px)
  width: 743px
  height: 100%
  background: #eea35d
  z-index: -1
  opacity: 0.4


.slider3D .slick-active:not(.slick-current) .slickSlide__img
  opacity: 0.6

.slider3D .slick-center
  position: relative

.slider3D .slick-center:before
  content: ''
  position: absolute
  top: 50%
  left: -20%
  max-width: 150px
  width: 50%
  height: 1.5px
  background: black
  z-index: 2
  //border-bottom: 1.5px solid black

.slider3D .slick-center:after
  content: ''
  position: absolute
  top: 50%
  right: -20%
  max-width: 150px
  width: 50%
  height: 1.5px
  background: black
  z-index: 2
  //border-bottom: 1.5px solid black

.footer
  font-family: FuturaPT
  padding: 20px 0

.footerInfo
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 40px

.block__copyright
  font-size: 1.5rem
  font-weight: 500
  letter-spacing: 4px
  color: #000000

.block__contact

  width: 15%
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 1.8rem

.block__contact a
  transition: all 200ms linear

.block__contact a:hover
  transform: scale(1.5)
